

.options{
    line-height: 2.5;
    width: 20%;
    color: white;
    transition: color 0.4s ease;
}




.options:hover {
    color: black;
}


.options_slide{
    line-height: 2.5;
    transition: transform 0.2s ease;
}




.options_slide:hover {
    transform: translateX(3%);
    

}


.cont {
    margin: 10px;
    width: 80%;
    
    
}













.port-1 {
    background: url(../img/port-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}




.bg_black {
    background-color:rgb(61, 76, 97);
    
}

.hero_bg {
    background: url(../img/hero_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.white{
    color:white;
}


.webdev-bg{

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/webdev-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.mobapp-bg{

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/mobile-apps.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.ui-ux-bg{

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/ui-ux-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}


.gradient{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(29, 17, 48));
}



.enlarge {
    transition: transform 0.3s ease; 
}


.enlarge:hover{
    transform: scale(1.05);
    
}


.enlarge1 {
    transition: transform 0.3s ease; 
    transition: translateY 0.3s ease;
}


.enlarge1:hover {
    transform: scale(1.05) translateY(-90px);
}



.box {
    display: inline-block;
    position: relative;
    top: 90px;
    opacity: 0;
    transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1), opacity 1.2s ease;
}

.active {   
    transform: translateY(-80px);
    opacity: 1;
}



p {
    color: white;
}
